*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
    }

    body{
    background: black;
    overflow-x: hidden;
    }
    
    header{
    position: fixed;
    top: 10px;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
   
    }
    
    .logo{
    color: white;
    padding-left: 20px;
    font-size: 35px;
    font-weight: 400;
    }
    
    .logo span{
    color: rgb(253, 234, 47);
    }
    
    .links{
    display:flex;
    }
    
    .links a{
   
    font-weight: 500;
    color: white;
    margin: 0 25px;
    transition: all ease .50s;
    
    }
    
    .links a:hover{
    color: rgb(253, 234, 47);
    }
    .links a.active{
    color: rgb(253, 234, 47);
    }
    /* container */
    .container{
        width: 95%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    /* gallery section */
    .gallery{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 50px;
        padding: 70px 7%;
    }
    .gallery img{
        width: 100%;
    }
    .gallery img:hover{
        transform: scale(1.1);
        border: 3px solid #fff;;
    }

    .popup{
        position: fixed;
        top: 0; left: 0;
        background: rgba(0, 0, 0, .9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
    }

 /* cross button */
   .popup span{
        position: absolute;
        top: 39px; right:500px;
        font-size: 20px; 
        font-weight: 100;
        color: white;
        cursor: pointer;
        z-index: 100;
    }
   .popup img{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #fff;
        border-radius: 5px;
        width: 400px;
        object-fit: cover;
    }

    /* @media (max-width: 768px){
      .popup img{
            width: 95px;
        }
    } */
    footer{

        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        color: white;
        text-align: center;
        padding: 10px;
        
    }

    /* css for highlights */
    
    .main-video-body{
        position: relative;
        width: 80%;
        margin: 80px auto;

    }

    h1{
        /* background color */
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        /* clip the background in text field */
        -webkit-background-clip: text; 
        color: transparent;
        text-align: center;
       padding: 20px 0;
        }

    .row{
        display: flex;
        align-items: center;
    }
    .col{
        flex-basis: 50%;
        min-width: 250px;
    }
    .feature-img{
        width: 80%;
        margin: auto;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
    }
    .small-img-row{
        display: flex;
        background: rgb(6, 155, 127);
        margin: 20px 0;
        align-items: center;
        border-radius: 6px;
        overflow: hidden;
        width: 85%;
        height: 90px;
        
    }
    .small-img{
        position: relative;
        
    }
    .small-img .smallimg{
        width: 150px;
      
    }
    .small-img-row p{
     
        margin-left: 20px;
        color: black;
        line-height: 22px;
        font-size: 15px;
        font-weight: 500;
    }
    .play-btn{
        width: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        /* place the image in center */
        transform: translate(-50%,-50%); 
        cursor: pointer;
    }
    .small-img .play-btn{
        width: 35px;
    }
    .video-player{
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        /* place the image in center */
        transform: translate(-50%,-50%); 
        cursor: pointer;
        /* hide the video unless it clicked */
        display: none;
    }
    video:focus{
        /* remove outline */
        outline: none;
    }
    .close-btn{
        position: absolute;
        top: 10px;
        right: 0;
        width: 30px;
        cursor: pointer;
    }
        
        
  